# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environments
.env
.venv
env/
venv/

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Credentials
credentials.json

# Project specific
storage/
